.tutor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -30px;
    padding: 0px;
}

.chat-container {
    max-width: 730px;
    margin: 0px;
    width: 80%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.toprow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    color: #333;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.message {
    margin-bottom: 20px;
}

.upload-file-form {
    margin-bottom: 20px;
}

.file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.chat-prompt-form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.response-section {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

.response {
    margin-bottom: 15px;
}

.translateButton {
    background-color: #056d1d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}